.head{
    font-size: 50px;
    text-align: center;
}
body{
    width: 95%;
    padding: 0;
    margin-left: auto;
}
.Schedule_table table{
    margin-left: auto;
    margin-right: auto;
    
}
.Schedule_table table tr th{
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(184, 184, 254);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
}

.Schedule_table table tr td{
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    padding-left: 10px;
}
.Schedule_table table tr td:first-child{
    text-align: center;
    padding-left: 0;
}
